
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:16px;
}
fieldset {
    border:none;
}
:root {
    --mc: rgb(236, 206, 206);
    --cc: rgb(43, 42, 42);
    --error: rgb(128, 39, 39);
    --lightText: rgb(153, 153, 153);
    --stitchBorders: rgba(0,0,0,.65)
}
label {
    margin-left: 1em;
}
button {
    margin: 1em;
}
.error {
    color: var(--error)
}  

.row, #stitchLabels {
    display:flex;
}

#stitchLabels.span-2 {
    grid-column-start:span 2
}
#stitchLabels.span-1 {
    grid-column-start:span 1
}

#rowLabels {
    grid-row-start: span 2
}
.chartLabel {
    color: var(--lightText);
    height: 20px;
    width: 25px;
    display: block;
    border: 1px solid transparent;
    text-align: center;
}
.stitch {
    height: 20px;
    width: 25px;
    border: 1px solid var(--stitchBorders);
}

.mc {
    background-color: var(--mc);
}

#preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: fit-content;
}

#chart{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: fit-content;
}

#chart.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

#preview .stitch {
    height: 12px;
    width: 15px;
}

#preview .stitch {
    height: 21px;
    width: 17px;
    clip-path: polygon(100% 69%, 49% 100%, 0 69%, 0 0, 50% 35%, 100% 0); 
    margin-top: -6px;
    border: 1px solid var(--stitchBorders);
}

#preview .chartLabel, #preview #stitchLabels {
    display:none;
}

#container {
    display: grid;
    grid-template-columns: fit-content(300px) fit-content(300px);
    grid-column-gap: 3em;
}

#chartInfo {
    grid-column-start: 1;
    grid-column-end: 3;
}

.tile.mirrorH .row {
    flex-direction: row-reverse;
}

.tile {
    display: flex;
    flex-direction: column;
    background-color:var(--stitchBorders);
}

.tile.mirrorV {
 flex-direction: column-reverse;   
}

#tile {
    display:none;
}

#chart .tile {
    display:flex;
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
    }
    fieldset {
        border: none;
        margin-inline-start: 0;
        padding-inline-start: 0;
        padding-block-start: 0;
    }
    #container {
        display: grid;
        grid-template-columns: fit-content(300px);
        grid-row-gap: 1.5em;
        justify-content: center;
    }
    #headerTitle {
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
    }
    #preview .stitch {
        height: 4px;
        width: 5px;
        border: 1px solid var(--stitchBorders);
    }

    #preview .stitch {
        height: 8px;
        width: 7px;
        clip-path: polygon(100% 69%, 49% 100%, 0 69%, 0 0, 50% 35%, 100% 0);
        margin-top: -2.5px;
        border: none;
    }
}